* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.form {
    background: white;
    max-width: 600px;
    padding: 1rem 2rem;
    margin-bottom: 4rem;
    border-radius: 0.25rem;
}

.form-center {
    display: flex;
    justify-content: center;
}

.form input {
    background: white;
    border-color: transparent;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
}

.form input[type=text] {
    width: 300px;
}

.form-control {
    margin: 0.5rem 0;
    align-items: center;
}

.form .form-control label {
    padding-right: 0.5rem;
}

.button {
    background-color: #A31E39;
    border-color: #A31E39;
    border-radius: 5px;
    border-style: unset;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    background-color: #A31E39;
    border-color: #A31E39;
}

.delete-button {
    background-color: white;
    border-color: white;
    border-radius: 5px;
    border-style: unset;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: white;
    border-color: white;
}